[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
jupyter = "*"
openpyxl = "*"
pyyaml = "*"
sqlalchemy = "*"
pyodbc = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
